.bg-login-image {
    background-image: url("/images/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-custom {
    background: linear-gradient(
        90deg,
        rgb(168, 38, 5) 0%,
        rgb(128, 89, 53) 100%
    );
}
.login-h1 {
    font-weight: 700;
    color: black;
}
.login-kamusta {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 10%;
}
.logo-sponsor {
    position: absolute;
    left: 10%;
    top: 75%;
}
input[type="text"] {
    font-size: 20px;
    color: #000;
    border: 1px solid #953f10;
}

::placeholder {
    color: #953f10;
    font-size: 20px;
    font-weight: 500;
}

.form-control-agency {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #953f10 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #953f10;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group {
    width: 50%;
}

.form-control-50 {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #953f10 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #953f10;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-50:focus {
    border: 1px solid #953f10;
}
